<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/iMaginary</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="EntityFramework.Firebird.FbProviderServices, EntityFramework.Firebird" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--<add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Cages.App_Code.Model.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="Model1" connectionString="data source=localhost;initial catalog=localhost:C:\\gdb\\Laserken\\GESTOR.GDB;User Id=SYSDBA;password=masterkey;;MultipleActiveResultSets=True;App=EntityFramework" providerName="FirebirdSql.Data.FirebirdClient" />
    <!--<add key="FirebirdCnString" value="Data Source=localhost;Initial Catalog=localhost:C:\\gdb\\Laserken\\GESTOR.GDB; User Id=SYSDBA;password=masterkey;Charset=ISO8859_1; " />-->
    <add name="Pzastrabajo" connectionString="data source=localhost;initial catalog=localhost:C:\\gdb\\Laserken\\GESTOR.GDB;User Id=SYSDBA;password=masterkey;MultipleActiveResultSets=True;App=EntityFramework" providerName="FirebirdSql.Data.FirebirdClient" />
    <!--<add name="Pzastrabajo" connectionString="data source=192.168.30.251;initial catalog=192.168.30.251:C:\\datos\\gdb\\PruebasAndroidAlbaran\\GESTOR.GDB;User Id=SYSDBA;password=masterkey;MultipleActiveResultSets=True;App=EntityFramework" providerName="FirebirdSql.Data.FirebirdClient" />-->
  </connectionStrings>
</configuration>